/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

.app {
  height: 100vh;
  background-color: #D7CDCC;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #8282f0;
}

.header .title {
  font-size: 2rem;
}

.bgimg {
  margin-top: 60px;
}

.bgimg img {
  max-width: 100%;
}

.home .app_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .app_info p {
  font-size: .8rem;
  width: 100%;
  text-align: center;
}

.home .app_info .fa {
  margin-right: 10px;
}

.home .app_info .top {
  display: none;
}

.home .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 40px 0 40px;
}

.home .btns .btn {
  background-color: #4C4B63;
  margin-top: 20px;
}

.signin {
  margin: 20px auto;
  width: 80%;
  background-color: #4C4B63;
  font-weight: bolder;
  padding: 20px;
}

.signin a {
  color: #8282f0;
}

.signin p {
  font-size: .7rem;
}

.signup {
  margin: 20px auto;
  width: 80%;
  background-color: #4C4B63;
  font-weight: bolder;
  padding: 20px;
}

.signup a {
  color: #8282f0;
}

.signup p {
  font-size: .7rem;
}

.strike-through {
  text-decoration: line-through;
  color: red;
}

@media screen and (min-width: 400px) {
  .app_info p {
    font-size: 5rem;
  }
}

@media screen and (min-width: 500px) {
  .app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app .home {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    background-color: #4C4B63;
    padding-bottom: 60px;
    -webkit-box-shadow: 5px 10px #888888;
            box-shadow: 5px 10px #888888;
  }
  .app .home .app_info {
    margin-top: 30px;
    color: #D7CDCC;
  }
  .app .home .app_info .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .app .home .app_info .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
  }
  .app .home .app_info .text p {
    width: 30%;
  }
  .app .home .app_info .side {
    display: none;
  }
  .app .home .app_info .top {
    display: block;
  }
  .app .home .btns {
    margin: 40px 40px 0 40px;
  }
  .app .home .btns .btn {
    background-color: #8282f0;
  }
}

@media screen and (min-width: 664px) {
  .app .home .btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=main.css.map */