@include media-med {
    .app {
        display: flex;
        flex-direction: column;
        
        .home {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            background-color: $color2;
            // padding-top: 60px;
            padding-bottom: 60px;
            box-shadow: 5px 10px #888888;
            .app_info {
                margin-top: 30px;
                color: #D7CDCC;
                .icons {
                    display: flex;
                    justify-content: space-around;
                }
                .text {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 10px;
                    p {
                        
                        width: 30%;
                    }
                }
                .side {
                    display: none;
                }
                .top {
                    display: block;
                }
            }
            .btns {
                margin: 40px 40px 0 40px;
                .btn {
                    background-color: $color1;
                }
            }
        }
        
    }
}