.home {
    .btns {
        display: flex;
        flex-direction: column;
        margin: 300px 40px 0 40px;
        .btn {
            background-color: #4C4B63;
            margin-top: 20px;
        }
    }
}
