@include media-med {
    .app {
        // padding-top: 100px;
        .home {
            height: 60vh;
            margin: 20px auto;
            width: 80%;
            background-color: $color2;
            padding-top: 60px;
            padding-bottom: 60px;
            box-shadow: 5px 10px #888888;
            .btns {
                margin: 100px 40px 0 40px;
                .btn {
                    background-color: $color1;
                }
            }
        }
        
    }
}