.signin {
    margin: 20px auto;
    width:80%;
    background-color: $color2;
    font-weight: bolder;
    padding: 20px;
    a {
        color: $color1;
    }
    p {
        font-size: .7rem;
    }
    }
